h2 {
	color: white;
	text-align: center;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

p {
	color: white;
	text-align: center;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 0.2s ease-in-out infinite alternate;
  -moz-animation: glow 0.2s ease-in-out infinite alternate;
  animation: glow 0.2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fcf22b, 0 0 40px #fcf22b, 0 0 50px #fcf22b, 0 0 60px #fcf22b, 0 0 70px #fcf22b;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #eda24c, 0 0 40px #eda24c, 0 0 50px #eda24c, 0 0 60px #eda24c, 0 0 70px #eda24c, 0 0 80px #eda24c;
  }
}

body {
  background-color: #010814;
  font: 16px verdana;
}

* {
  box-sizing:border-box
}

/* css piano adapted from: https://codepen.io/zastrow/pen/oDBki */
ul {
  height:6.5em;
  width:16.5em;
  margin-left: 4em;
  padding:1.5em 0 0 1.5em;
  position:relative;
  border:1px solid #101010;
  border-radius:1em;
  background:linear-gradient(to bottom,rgba(160,122,242,0.2),rgba(112,52,225,0.1));
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
}

li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  float:left
}

button {
	background:linear-gradient(to bottom, #905ac5, #502a95);
	color: white;
	border: 5px;
	padding: 5px;
	border-radius: 5px;
}

select {
	background:linear-gradient(to bottom, #905ac5, #502a95);
	color: white;
	border: 5px;
	padding: 5px;
	border-radius: 5px;
}

select > option {
	background:#502c73;
}

button:disabled {
	background:linear-gradient(to bottom, #5e5667, #20123a);
	color: gray;
}

ul .white {
  height:5em;
  width:2em;
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}

ul .white:active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black {
  height:3em;
  width:1.2em;
  margin:0 0 0 -0.3em;
  transform:translate(-5px,0);
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%)
}

.black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.d,.e,.g,.a,.b {
  margin:0 0 0 -1em
}

ul li:first-child {
  border-radius:5px 0 5px 5px
}

ul li:last-child {
  border-radius:0 5px 5px 5px
}

/* Auto generated from http://danielstern.ca/range.css/#/ */
input[type=range] {
  width: 100%;
  margin: 7.2px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #8952d9;
  border: 1px solid #b1a8d0;
  border-radius: 9.1px;
  width: 100%;
  height: 7.6px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8.2px;
  width: 12px;
  height: 22px;
  background: #ce71d8;
  border: 1px solid #27146f;
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d4d1e8;
}
input[type=range]::-moz-range-track {
  background: #8952d9;
  border: 1px solid #b1a8d0;
  border-radius: 9.1px;
  width: 100%;
  height: 7.6px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 22px;
  background: #ce71d8;
  border: 1px solid #27146f;
  border-radius: 6px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.9px 0;
  color: transparent;
  width: 100%;
  height: 7.6px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #393468;
  border: 1px solid #b1a8d0;
  border-radius: 18.2px;
}
input[type=range]::-ms-fill-upper {
  background: #7972b9;
  border: 1px solid #b1a8d0;
  border-radius: 18.2px;
}
input[type=range]::-ms-thumb {
  width: 12px;
  height: 22px;
  background: #9d92e9;
  border: 1px solid #27146f;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #7972b9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d4d1e8;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
